server:
  port: 9080
spring:
  profiles:
    active: dev
  application:
    name: boss-search-service
  cloud:
    nacos:
      server-addr: ${spring.cloud.nacos.server-addr}
      discovery:
        cluster-name: XA
  data:
    redis:
      host: ${spring.data.redis.host}
      port: ${spring.data.redis.port}
      password: ${spring.data.redis.password}
      database: ${spring.data.redis.database}
      lettuce:
        shutdown-timeout: 100ms
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 1
          time-between-eviction-runs: 10s
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
logging:
  logback:
    rollingpolicy:
      max-file-size: 100MB
      max-history: 7
      total-size-cap: 500MB

elasticsearch:
  host: ${elasticsearch.host}
  port: ${elasticsearch.port}

canal:
  host: ${canal.host}
  port: 11111
  destination: ${canal.destination}
