server:
  port: 9040
spring:
  profiles:
    active: dev
  application:
    name: boss-chat-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${spring.datasource.host}:${spring.datasource.port}/${spring.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}
  data:
    redis:
      host: ${spring.data.redis.host}
      port: ${spring.data.redis.port}
      password: ${spring.data.redis.password}
      database: ${spring.data.redis.database}
      lettuce:
        shutdown-timeout: 100ms
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 1
          time-between-eviction-runs: 10s
  cloud:
    nacos:
      server-addr: ${spring.cloud.nacos.server-addr}
      discovery:
        cluster-name: XA
  kafka:
    bootstrap-servers: ${spring.kafka.bootstrap-servers}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
        delivery.timeout.ms: 30000
        request.timeout.ms: 30000
        max.in.flight.requests.per.connection: 5
        enable.idempotence: true
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: ${spring.application.name}-group
      auto-offset-reset: earliest
      enable-auto-commit: false
      properties:
        spring.json.trusted.packages: "com.boss.bosscommon.pojo"

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.activity.manage.pojo.entity
  configuration:
    map-underscore-to-camel-case: true

kafka:
  topics:
    chat-record-topic: chat-record-topic
    retry-topic: retry-topic
    dead-letter-topic: dead-letter-topic
  partitions: 3
  replicas: 1