server:
  port: 8080
spring:
  application:
    name: boss-gateway
  profiles:
    active: dev
  cloud:
    nacos:
      server-addr: ${spring.cloud.nacos.server-addr}
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

